.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin: 0 auto;
  height: 50%;
}

.hero-image {
  flex: 1;
  height: 50%;
}
