.search-container {
  display: flex;
  width: 60vw;
  align-items: center;
}

.search-input {
  flex: 1;
  padding: 0.6vh 0.6vw 0.6vh 15px;
  font-family: "montserrat", sans-serif;
  font-size: 10px;
  border: none;
  outline: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-box-shadow: inset 3px 4px 6px -6px #141414;
  box-shadow: inset 3px 4px 6px -6px #141414;
}

.search-city-container {
  display: flex;
  cursor: pointer;
  padding: 0.5vh 0.5vw 0.5vh 1vw;
  background-color: tomato;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-box-shadow: -5px 0px 18px -9px rgba(0, 0, 0, 0.97),
    inset 1px 2px 9px -4px rgba(0, 0, 0, 0.97);
  box-shadow: -5px 0px 18px -9px rgba(0, 0, 0, 0.97),
    inset 1px 2px 9px -4px rgba(0, 0, 0, 0.97);
}

.search-city-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: "montserrat", sans-serif;
  font-size: 1vh;
  font-weight: 600;
}
